
<div id="admin-panel">
	<div class="row" ng-repeat="moonshot in moonshots" ng-init="moonshot.update = false">
		<div class="col-md-4">
			<p class="lead">
				<a ng-click="moonshot.update = true" ng-hide="moonshot.update">
					<i class="fa fa-edit"></i>
				</a> 
				<a ng-click="moonshot.update = false" ng-show="moonshot.update">
					<i class="fa fa-close"></i>
				</a>
				{{moonshot.title}} 
			</p>
			<div class="form-group" ng-show="moonshot.update">
				<input type="text" 
							 class="form-control" 
							 ng-model="moonshot.title" 
							 ng-change="moonshots.$save(moonshot)" />
			</div>
		</div>
		<div class="col-md-2">
			<input type="radio" ng-model="moonshot.checkpoint" value="0" ng-change="moonshots.$save(moonshot)"> 0
		</div>
		<div class="col-md-2">
			<input type="radio" ng-model="moonshot.checkpoint" value="1" ng-change="moonshots.$save(moonshot)"> 1
		</div>
		<div class="col-md-2">
			<input type="radio" ng-model="moonshot.checkpoint" value="2" ng-change="moonshots.$save(moonshot)"> 2
		</div>
		<div class="col-md-2">
			<input type="radio" ng-model="moonshot.checkpoint" value="3" ng-change="moonshots.$save(moonshot)"> 3
		</div>
	</div>
</div>

<form ng-submit="addMoonshot()">
	<label>Add a moonshot</label>
	<div class="form-group">
		<input type="text" 
					 class="form-control" 
					 placeholder="Some name" 
					 ng-model="newMoonshot" />
	 </div>
	 <button type="submit" class="btn btn-success">
		<i class="fa fa-plus"></i> Add 
	 </button>
</form>